*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
}

.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap: 20px;
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.hero__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__title {
  font-size: 48px;
  line-height: 1.1;
  margin-bottom: 20px;
}

.hero__prof {
  color: #4facfe;
  white-space: nowrap;
}

.hero__subtitle {
  font-size: 32px;
  font-weight: 400;
}

.hero__hardskills_subtitle {
  font-size: 28px;
  font-weight: 400;
  margin-top: 30px;
}

.button-link {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 320px;
  background: #fff;
  border: 1px solid rgba(27, 31, 36, 0.15);
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.4;
  color: #9f32ff;
  text-decoration: none;
  margin-top: 20px;
}

.button-link:hover {
  background-color: #9f32ff;
  color: #fff;
  box-shadow: 0 1px 0 rgba(27, 31, 36, 0.1);
}

/* Стили для подложки */

.overlay {

  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 20;
  transition: .3s all;
}

/* Стили для модальных окон */
.modal {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  max-width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
  transition: 0.3s all;
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer;
}

.modal-img {
  width: 40%;
}

/* Блок с ссылками */
.hero__links {
  display: flex;
  margin-top: 30px;
}

.hero__link {
  margin-right: 10px;
  font-size: 30px;
  color: #000;
}

.hero__link:hover {
  color: #9f32ff;
}

/* Блок с анимацией */

.hero__box {
  max-width: 500px;
  justify-self: center;
  overflow: hidden;
  border: 5px solid #fff;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  animation: animate_circle 4s infinite alternate;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, .5);
}

.hero__box-img {
  animation: animate-color 3s infinite alternate;
}

@keyframes animate_circle {
  0% {
    border-radius: 62% 38% 72% 28% / 67% 32% 68% 33%;
  }

  40% {
    border-radius: 37% 63% 53% 47% / 67% 32% 68% 33%;
  }

  60% {
    border-radius: 23% 77% 39% 61% / 78% 54% 46% 22%;
  }

  100% {
    border-radius: 18% 82% 24% 76% / 43% 54% 46% 57%;
  }
}

@keyframes animate-color {
  from {
    backdrop-filter: hue-rotate(0);
  }

  to {
    backdrop-filter: hue-rotate(90deg);
  }
}

/* Адаптация */
@media screen and (max-width: 978px) {
  .hero {
    padding-top: 30px;
  }

  .hero__container {
    grid-row-gap: 20px;
  }

  .hero__title {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .hero__subtitle {
    font-size: 22px;
    font-weight: 400;
  }

  .hero__hardskills_subtitle {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
  }

  .hero__description,
  .hero__hardskills_text {
    font-size: 14px;
  }

  .hero__about {
    text-align: center;
  }

  .hero__links {
    justify-content: center;
  }

  .hero__box {
    max-width: 350px;
    justify-self: center;
  }

  .modal {
    max-width: 350px;
  }

  .button-link {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }
}